<!DOCTYPE html>
<html lang="es">
<head>

    <%- include("./partials/head") %> 
    
    <link rel="stylesheet" href="/css/index-style.css">
    <title>SmartTech</title>
</head>
<body class="index-body">

       <%- include('./partials/header') %> 
    
<!--++++++++++++++++++++++++++++++++++++++-->

        <main>
            <div class="main_container">

                <div class="main_exhibitor"> <img src="/img/expositor.jpg" alt="Expositor"> </div>

                <label> <h3>SmartPhones</h3>  </label>
                    
                <div class="section_container">

                    
                    <label><i class="fas fa-chevron-circle-left"></i></label>

                    <section class="article_container">

                        <% products.forEach(product => { %>
                            
                            

                                <a href="/products/item/<%= product.id %>"> <article> <img src="/img/productImages/<%= product.image %>"> </article> </a>
                            
                            
                        <% }); %>

                                
                    </section>
                    <label> <i class="fas fa-chevron-circle-right"></i> </label>

                </div>

            </div>
        </main>

<!--++++++++++++++++++++++++++++++++++++++-->
<%- include('./partials/footer') %>
</body>
</html>