<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/316d2b61a6.js" crossorigin="anonymous"></script>
    <script src="/scripts/headerScripts.js"></script>
   
    <title><%= product.name %></title>
    
   

    <link rel="stylesheet" href="/css/normalyze.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/product-detail_style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap" rel="stylesheet">

</head>
<body class="productDetail_body">

    <%- include('./partials/header') %>
    
    <!--++++++++++++++++++++++++++++++++++++++-->
       <main class="productDetail_main-container">

            <div class="productDetail_main">

                <div class="productDetail_primary-info">

                <div class='productDetail_image'>
                    <img src="/img/productImages/<%=product.image %>" alt="Imagen del producto">
                </div>
            

                <!---------+++++++++++++++++++++++++++++++++++++++++++++---->

                    <div class="productDetail_sell-info">
    
                        <h2 class="productDetail_name"> <%= product.name %> </h2>
    
                        <div class="productDetail-stars">
                            <button value="oneStar"><i class="far fa-star"></i></button>
                            <button value="twoStar"><i class="far fa-star"></i></button>
                            <button value="threeStar"><i class="far fa-star"></i></button>
                            <button value="fourStar"><i class="far fa-star"></i></button>
                            <button value="fiveStar"><i class="far fa-star"></i></button>

                        </div>
    
                        <h3 class="productDetail_price"> $ <%= product.price %> </h3>
    
                        <div class="productDetail_specs">
                            <header>Preferencias</header>
                            <span>Color <i class="far fa-square"></i></span>
                        </div>
                
                        <div class="productDetail_buy-button">
                        <a href="#"> <button>Comprar ahora <i class="fas fa-shopping-basket"></i></button> </a>
                        </div>

                        <div class="productDetail_add-cart">
                        <button type="submit">Agregar al carrito <i class="fas fa-shopping-cart"></i></button>
                        </div>  
                
                    </div>
                    </div>

                <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->

                <div class="productDetail-info">
                    <h4>Información del producto</h4>
                    <br>
                    <br>
                    <%= product.description %> 
                </div>

                <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->

                <div class="productDetail_seller-info">
                    <h4>Información del vendedor</h4>
                    <br>
                    <%= product.info %> 
                </div>

               
               

                <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
                <!-- <div class="product-simil">
                <label class="product-simil_text">Productos Similares</label>
                <div class="product-simil_objects">
                    <a href="./1"> <img src="/img/producto_1.png"> <footer class="foot-price"> $180.000 </footer> </a>
                    <a href="./2"> <img src="/img/producto_2.png"> <footer class="foot-price"> $100.000 </footer> </a>
                    <a href="./3"> <img src="/img/producto_4.png"> <footer class="foot-price"> $80.000 </footer> </a>
                    <a href="./4"> <img src="/img/producto_5.png"> <footer class="foot-price"> $150.000 </footer> </a>
                    <a href="./5"> <img src="/img/producto_6.png"> <footer class="foot-price"> $85.000 </footer> </a>
                </div>
                </div> -->

            </div>

        </main>
        <!--++++++++++++++++++++++++++++++++++++++-->
        <%- include('./partials/footer') %>
</body>
</html>







