<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Eliminar <%=product.name %> </title>

    <link rel="stylesheet" href="/css/normalyze.css">
    <link rel="stylesheet" href="/css/login-style.css">
    <link rel="stylesheet" href="/css/register-style.css">
    <link rel="stylesheet" href="/css/product-Delete.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/316d2b61a6.js" crossorigin="anonymous"></script>


</head>
<body>

        <header class="log-reg_header">
            <nav class="nav_header">

                <div class="button_back">
                    <a href="/products/item/<%=product.id %>"><i class="fas fa-arrow-left"></i></a>                
                </div>

                <div class="logo_login">
                    <img src="/img/logo-grande.png">
                </div>

                <div><!--Contenido vacio--></div>

            </nav>
        </header>

    <!--+++++++++++++++++++++++++++++++++++++++++++++++++++-->

        <main>
            <div class= "title">
                <h1> Estas seguro de eliminar este producto ?  </h1>
            </div>


            <div class="container_box">

                <div class="info_box">
    
                    <div class="paragraph">
                        <p class="bold">Nombre</p>
                        
                        <p class="text"> <%=product.name %> </p> 
                    </div>
                        
                    
                    <div class="paragraph">
                        <label for="description" class="bold" >Descripción</label>
                        <p class="text"> <%=product.description %> </p>
                    </div>


                    <div class="paragraph">
                        <label for="price" class="bold" >Precio</label>
                        <p class="text"> $ <%=product.price %> </p> 
                    </div>

                    <div class="paragraph">
                        <label for="color" class="bold" >Color</label>
                        <p class="text"> <%=product.color %> </p>  
                    </div>

                    <div class="paragraph">
                        <label for="specs" class="bold">Especificaciones</label>
                        <p class="text"> <%=product.specifications %> </p> 
                    </div>
                    <form class="button" action="/products/delete/item/<%=product.id %>?_method=DELETE" method="POST">  
                        <button type="submit" class="submit_button"> Eliminar </button>
                    </form>
                </div>




                <div class="image_box">
                    <img src="/img/productImages/<%=product.image %>">
                </div>

            </div>


        </main>


    
</body>
</html>