<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Perfil</title>

    <%-include('./partials/head')%>
    <link rel="stylesheet" href="/css/userEditForm.css">
</head>
<body class="userEdit_form-body">

    <%-include('./partials/header')%>
    
    <main class="userEdit_form-main">

        <h1> Registrate  </h1>

        <div class="userEdit_form-cont">

            <form action="/users/userEditForm" method="POST" enctype="multipart/form-data">  

                <label for="name_label">Nombre</label>
                <input type="text" name="userName" class="form_user-name" id="name_label"
                value="<%=userLogged.userName%>">
                <%if(locals.errors && errors.userName){%>
                    <p class="errorMsg"> <%=errors.userName.msg%></p>
                <%}%>


                <label for="lastName_label">Apellido</label>
                <input type="text" name="userSName" class="form_user-name" id="lastName_label"
                value="<%=userLogged.userSName%>">
                <%if(locals.errors && errors.userSName){%>
                    <p class="errorMsg"> <%=errors.userSName.msg%></p>
                <%}%>


                <label for="email_label">Email</label>
                <input type="email" name="userEmail" class="form_user-name" id="email_label"
                value="<%=userLogged.userEmail%>">
                <%if(locals.errors && errors.userEmail){%>
                    <p class="errorMsg"> <%=errors.userEmail.msg%></p>
                <%}%>


                <label for="user_label">Nombre de Usuario</label>
                <input type="text" name="userNickName" class="form_user-name" id="user_label"
                value="<%=userLogged.userNickName%>">
                <%if(locals.errors && errors.userNickName){%>
                    <p class="errorMsg"> <%=errors.userNickName.msg%></p>
                <%}%>


                <label for="oldpass_label">Contraseña anterior</label>
                <input type="password" name="userOldPass" class="form_user-name" id="oldpass_label">
                <%if(locals.errors && errors.userPass){%>
                    <p class="errorMsg"> <%=errors.userPass.msg%></p>
                <%}%>

                <label for="newpass_label">Contraseña nueva</label>
                <input type="password" name="userNewPass" class="form_user-name" id="newpass_label">
                <%if(locals.errors && errors.userPass){%>
                    <p class="errorMsg"> <%=errors.userPass.msg%></p>
                <%}%>


                <label for="image">Foto de Usuario</label>
                <input class="form_user-name" type="file" name="userImage" id="image"
                value="<%= locals.old && old.userImage ? old.userImage:''%>">
                <%if(locals.errors && errors.userImage){%>
                    <p class="errorMsg"> <%=errors.userImage.msg%></p>
                <%}%>


                <button type="submit" class="submit_button">Editar</button>
            </form>

            

            

        </div>

    </main>

    <%-include('./partials/footer')%>

</body>
</html>